{%extends 'base.html'%}
{%block content%}
    <form method='post'>
        <h2>Singup</h2>
        <br>
        <label><b>User</b>
            <input type='text' name='username' value='{{username}}'>
        </label><label name='erroruser' style='color:red' value=''>{{erroruser}}</label><br>
        <label><b>Password</b>
            <input type='password' name='password'>
        </label><label name='errorpass' style='color:red' value=''>{{errorpass}}</label><br>
        <label><b>Verify password</b>
            <input type='password' name='verify' value=''>
        </label><label name='errorverify' style='color:red' value=''>{{errorverify}}</label><br>
        <label><b>E-mail (opcional)</b>
            <input type='text' name='email' value='{{email}}'>
        </label><label name='errormail' style='color:red' value=''>{{errormail}}</label><br>
        <br>
        <br>
        <button>Submit</button>
    </form>
    <a href='/login' style="padding-left: 5px;float:right">Iniciar sesion</a>
    <a href="/" style="float:right">Volver</a>
{%endblock%}